html {
    scroll-behavior: smooth;
}


.navbar {
    background-color: #050303;
}

.navbar-brand {
    color: white;
}

.navbar-nav .nav-link {
    color: white;
}


.logo {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.logo-circle {
    width: 32px;
    height: 32px;
    background: #FFD700;
    border-radius: 50%;
}

.nm {
        
}



/* Hero Section */
#hero {
    background-image: url('img/background.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding-bottom: 50px;
}

/* Skills Section */
#skills {
    background-color: #393939;
    padding: 50px 0;
}

#skills h2 {
    color: white;
}

.skill-card {
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    border-radius: 10px;
    height: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skill-card img {
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* About Section */
#about {
    margin-bottom: 5%;
}

/* Experience Section */
#experience {
    background-color: #393939;
}

/* Contact Section */
.ct li {
    color: black;
}

.container h2 {
    color: black;
    text-align: center;
}

#certificates {
    background-color: #393939;
}


.ct {
   padding-left: 550px;
}

/* Responsive Layouts */
@media (max-width: 576px) {
    .skill-card {
        height: 130px;
    }
}

@media (min-width: 768px) {
    .skill-card {
        height: 180px;
    }
}

@media (min-width: 992px) {
    .skill-card {
        height: 200px;
    }
}